<!-- <img src="http://www.dustmoon.com/wp-content/uploads/2015/10/Alphabet-takes-Over-Google.jpg"> -->

<iframe width="1200px" height="675px" src="https://www.youtube.com/embed/Y88p4V_BCEU?autoplay=1;controls=0" frameborder="0" allowfullscreen></iframe>

<% 199.times do %>
  <div style="display:inline-block">
    <h3><img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Google_wordmark.gif" style="height:100px"><b>google</b></h3>

    <form action="/search" method="get">
      <input type="text" name="option">
      <button>Google Search</button>
    </form>
    <a href="/adwords">I'm feeling lucky</a>
  </div>
<% end %>

<!-- 
<iframe width="560" height="315" src="https://www.youtube.com/embed/Y88p4V_BCEU" frameborder="0" allowfullscreen></iframe> -->