<div style="display:inline-block">
  <h3><img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/8/83/Google_wordmark.gif" style="height:100px"><b>google</b></h3>

  <form action="/search" method="get">
    <input type="text" name="option">
    <button>Google Search</button>
  </form>
  <a href="/adwords">I'm feeling lucky</a>
</div>

<a class="chinese-google" href="http://www.google.cn/" style="font-size:192px">Google</a>

<% 197.times do %>
  <div style="display:inline-block">
    <h3><img class="flag" src="https://upload.wikimedia.org/wikipedia/commons/8/83/Google_wordmark.gif" style="height:100px"><b>google</b></h3>

    <form action="/search" method="get">
      <input type="text" name="option">
      <button>Google Search</button>
    </form>
    <a href="/adwords">I'm feeling lucky</a>
  </div>
<% end %>